<div>
  <h1 class="text-4xl font-medium mb-5">Contatti</h1>

  <div class="grid sm:grid-cols-1 md:grid-cols-2 items-start gap-20">
    <p class="text-base font-light mb-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
      quibusdam in cumque, facere at voluptatibus assumenda odit id ipsa?
      Consectetur labore quibusdam eum aliquam, iusto praesentium exercitationem
      explicabo reprehenderit asperiores?
    </p>
    <form action="#" class="flex flex-col w-full">
      <div class="my-2 flex items-center justify-between gap-10">
        <input
          class="h-10 rounded px-2 text-black w-full border"
          type="text"
          id="firstname"
          name="firstname"
          placeholder="Nome"
        />
        <input
          class="h-10 rounded px-2 text-black w-full border"
          type="text"
          id="lastname"
          name="lastname"
          placeholder="Cognome"
        />
      </div>

      <input
        class="h-10 rounded px-2 text-black w-full my-2 border"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
      />

      <textarea
        class="h-10 rounded p-2 text-black my-5 border"
        id="message"
        name="message"
        placeholder="Il tuo messaggio..."
        style="height: 200px; resize: none"
      ></textarea>

      <button type="submit" class="bg-black rounded px-5 py-2 text-white">
        Invia
      </button>
    </form>
  </div>
</div>
